<form
  class="auth-form"
  autocomplete="on"
  [formGroup]="form"
  (submit)="onSubmit()">
  <h1>{{ 'AUTH.WELCOME' | translate }}</h1>
  <mat-form-field class="auth-form-field">
    <mat-label aria-required="true">{{
      'AUTH.USERNAME' | translate
    }}</mat-label>
    <input
      matInput
      type="text"
      id="login_username"
      name="login_username"
      autocomplete="username"
      formControlName="username" />
  </mat-form-field>
  <mat-form-field class="auth-form-field">
    <mat-label aria-required="true">{{
      'AUTH.PASSWORD' | translate
    }}</mat-label>
    <input
      matInput
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      formControlName="password" />
  </mat-form-field>

  <section class="auth-form-buttons">
    <button
      mat-flat-button
      [disabled]="isLoading()"
      type="submit">
      <mat-icon>login</mat-icon>
      {{ 'AUTH.SIGNIN' | translate }}
      @if (isLoading()) {
        <mat-icon iconPositionEnd
          ><mat-spinner [diameter]="15"></mat-spinner
        ></mat-icon>
      }
    </button>
    <div
      [matTooltip]="'AUTH.REGISTRATION_DISABLED' | translate"
      [matTooltipDisabled]="allowRegistration()">
      <button
        mat-button
        routerLink="/register"
        data-testId="register-link"
        [disabled]="isLoading() || !allowRegistration()"
        type="button">
        <mat-icon>person_add</mat-icon>
        {{ 'AUTH.SIGNUP' | translate }}
      </button>
    </div>

    <div
      [matTooltip]="'AUTH.SMTP_DISABLED' | translate"
      [matTooltipDisabled]="!smtpDisabled()">
      <button
        mat-button
        routerLink="/password-recovery/request"
        data-testId="password-recovery-link"
        [disabled]="isLoading() || smtpDisabled()"
        type="button">
        <mat-icon>error</mat-icon>
        {{ 'AUTH.PASSWORD_RECOVERY' | translate }}
      </button>
    </div>
  </section>
</form>
