<div class="password-recovery-submit">
  <h1 class="password-recovery-submit-header">
    {{ 'PASSWORD_RECOVERY.TITLE' | translate }}
  </h1>
  <form
    [formGroup]="form"
    class="password-recovery-submit-form"
    autocomplete="on"
    (submit)="onSubmit()">
    <!-- Chrome hack -->
    <input
      type="text"
      id="login_username"
      name="login_username"
      autocomplete="username"
      style="display: none" />

    <mat-form-field class="password-recovery-submit-form-field">
      <mat-label aria-required="true">{{
        'PASSWORD_RECOVERY.PASSWORD' | translate
      }}</mat-label>
      <input
        matInput
        [type]="hidePassword() ? 'password' : 'text'"
        id="new-password"
        name="new-password"
        autocomplete="new-password"
        formControlName="password" />
      <mat-icon
        matSuffix
        (click)="hidePassword.set(!hidePassword())"
        >{{ hidePassword() ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="password-recovery-submit-form-field">
      <mat-label aria-required="true">{{
        'PASSWORD_RECOVERY.CONFIRM_PASSWORD' | translate
      }}</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword() ? 'password' : 'text'"
        id="confirm-new-password"
        name="confirm-new-password"
        autocomplete="new-password"
        formControlName="confirm_password" />
      <mat-icon
        matSuffix
        (click)="hideConfirmPassword.set(!hideConfirmPassword())">
        {{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <ul class="password-recovery-submit-form-hints">
      @for (item of 'USER.PASSWORD_HINTS' | translate; track item) {
        <li>{{ item }}</li>
      }
    </ul>

    <mat-form-field class="password-recovery-submit-form-field">
      <mat-label aria-required="true">{{
        'PASSWORD_RECOVERY.CODE' | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        id="recovery-code"
        name="recovery-code"
        autocomplete="off"
        formControlName="code" />
    </mat-form-field>

    <section class="password-recovery-submit-form-buttons">
      <button
        data-testid="submit-button"
        mat-flat-button
        type="submit"
        [disabled]="isLoading()">
        {{ 'GENERAL.CONFIRM' | translate }}
        <mat-icon>mail</mat-icon>
        @if (isLoading()) {
          <mat-icon iconPositionEnd
            ><mat-spinner [diameter]="15"></mat-spinner
          ></mat-icon>
        }
      </button>
      <button
        data-testid="cancel-button"
        mat-button
        routerLink="/auth"
        type="button"
        [disabled]="isLoading()">
        <mat-icon>arrow_back</mat-icon>
        {{ 'GENERAL.CANCEL' | translate }}
      </button>
    </section>
  </form>
</div>
