<div class="password-recovery-request">
  <h1 class="password-recovery-request-header">
    {{ 'PASSWORD_RECOVERY.TITLE' | translate }}
  </h1>
  <form
    [formGroup]="form"
    class="password-recovery-request-form"
    autocomplete="off"
    (submit)="onSubmit()">
    <mat-form-field class="password-recovery-request-form-field">
      <mat-label aria-required="true">{{ 'USER.EMAIL' | translate }}</mat-label>
      <input
        matInput
        type="email"
        id="user_email"
        name="user_email"
        autocomplete="email"
        formControlName="email" />
    </mat-form-field>

    <section class="password-recovery-request-form-buttons">
      <button
        mat-flat-button
        type="submit"
        data-testId="password-recovery-request-button"
        [disabled]="isLoading()">
        {{ 'GENERAL.CONFIRM' | translate }}
        <mat-icon>mail</mat-icon>
        @if (isLoading()) {
          <mat-icon iconPositionEnd
            ><mat-spinner [diameter]="15"></mat-spinner
          ></mat-icon>
        }
      </button>
      <button
        mat-button
        routerLink="/auth"
        data-testId ="password-recovery-cancel-link"
        type="button"
        [disabled]="isLoading()">
        <mat-icon>arrow_back</mat-icon>
        {{ 'GENERAL.CANCEL' | translate }}
      </button>
      <button
        mat-button
        routerLink="/password-recovery/submit"
        data-testId ="password-recovery-link"
        type="button"
        [disabled]="isLoading()">
        <mat-icon>password</mat-icon>
        {{ 'PASSWORD_RECOVERY.HAVE_CODE' | translate }}
      </button>
    </section>
  </form>
</div>
